 <h1>Editing Book</h1>
   <% if @book.errors.any? %>
    <div class= "alert alert-warning">
     <h2><%= @book.errors.count %> errors prohibited this obj from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
     </ul>
  </div>
  <% end %> 
  <%= form_for(@book) do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <div class="action">
  <%= f.submit 'Update Book' %>
  </div>
  <%= link_to 'Show', book_path(@book) %>
  <%= link_to 'Back', books_path %>
  <% end %>
